<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head profile="http://www.w3.org/2005/10/profile">
		<title>Lion Graphics</title>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/png" href="../resources/img/favicon.png"/>
		<link rel="stylesheet" href="{{ asset('bundles/acmegraphic/css/reset.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ asset('bundles/acmegraphic/css/style.css') }}" type="text/css">		
		<link href='http://fonts.googleapis.com/css?family=Patrick+Hand+SC' rel='stylesheet' type='text/css'>
		{% block stylesheets %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</head>
	<body>
		<div id="header">
			<a id="contacto" href="{{ path('_contact') }}">Contacto</a>
			<div id="content_block">
				<div id="block_logo"></div>
				<div id="block_menu">
					<div class="clearfix"></div>
					<nav>
						<ul id="menu">
							<li><a style="border-top-left-radius:25px" href="#">Tarjetas</a>
								<ul>
									<li><a href="#">Personales</a></li>
									<li><a href="#">15 A&ntilde;os</a></li>
									<li><a href="#">Bautismo</a></li>
									<li><a href="#">Casamiento</a></li>
									<li><a href="#">Comunion</a></li>
								</ul>
							</li>
							<li><a href="#">Folletos</a>
								<ul>
									<li><a href="#">Tinta Negra</a></li>
									<li><a href="#">1 Color</a></li>
									<li><a href="#">Full Color</a></li>	
								</ul>
							</li>
							<li><a href="#">Talonarios</a>
								<ul>
									<li><a href="#">Facturas</a></li>
									<li><a href="#">Presupuestos</a></li>
									<li><a href="#">Anotadores</a></li>
									<li><a href="#">Recibos</a></li>
								</ul>
							</li>
							<li><a href="#">Otros</a>
								<ul >
									<li><a href="#">Etiquetas</a></li>
									<li><a href="#">Imanes</a></li>
									<li><a href="#">Sobres</a></li>
									<li><a href="#">Membretada</a></li>
									<li><a href="#">Rifas</a></li>
									<li><a href="#">Carpetas</a></li>
								</ul>
							</li>
							<li class="last"><a href="#" style="border-top-right-radius:25px; border-right:none">Dise&ntilde;os</a>
								<ul>
									<li><a href="#">Dise&ntilde;os 1</a></li>
									<li><a href="#">Dise&ntilde;os 2</a></li>
									<li><a href="#">Dise&ntilde;os 3</a></li>
									<li><a href="#">Dise&ntilde;os 4</a></li>
									<li><a href="#">Dise&ntilde;os 5</a></li>		
								</ul>
							</li>
							<div class="clearfix"></div>
						</ul>
					</nav>		
				</div>
				<div class="clearfix"></div>
			</div>
			<div id="content" style="border:none">
				{% block change %}
				{% endblock change %}
			</div>
		</div>		
		<div class="clearfix"></div>
		<div id="footer">			
			<div id="info">
				<p id="footer_info_small">Tel.: (0341) 4925877 - graficaleon@gmail.com - Face:Grafika Leon</p>
				<div class='footer_info'>
					<div id='phone_image' class='footer_image'></div>
					<div class='footer_text'>
						<span>Tel.: (0341) 4925877</span>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class='footer_info'>
					<div id='email_image' class='footer_image'></div>
					<div class='footer_text'>
						<span>graficaleon@gmail.com</span>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class='footer_info'>
					<div id='face_image' class='footer_image'></div>
					<div class='footer_text'>
						<span><a  href="https://www.facebook.com/grafika.leon">Grafika Leon</a></span>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>		
	</body>
</html>