#contact {
	color: #B18904;
	font-family: 'Patrick Hand SC'; }
 
#contact_form {
	width: 450px;
	min-height: 500px;
	float: left;
	padding: 25px; }
 
	#contact_form p {
		font-size: 1.5em;
		font-weight: bold;
		text-align: center; }
 
#line {
	width: 350px;
	height: 1px;
	margin: 0px auto 0px auto;
	background-color: #B18904; }
 
#contactForm {
	font-size: 1.3em;
	font-weight: normal; }